.w-20 {
  width:20%;
}
.w-30{
  width:30%;
}

.logo-text{
  width:200px;
}

.bi{
  margin-right : 10px;
}

.story{
 height: 70px;
 padding:10px;
 margin-bottom:30px;
}

.dp{
  height : 30px;
  margin-top: 3px;
  margin-right: 5px;
  margin-bottom:3px;
  width:20px;
}

.image{
  width:350px;
  height:250px;
  border: dimgrey 0.5px solid;
}

.usertext{
  margin-top : 3px;
}

.suggestions h5{
  font-size:16px;
  margin-top : 5px;

  
}
.suggestions .dp{
  margin-top : 0px !important;
  
}

.gratient-border{
  width:65px;
  height:65px;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background : linear-gradient(45deg , #ff00ff , #ff6600 ,#ffcc00);

}

.story-dp {
  width:60px;
 

}
.post{
  margin-top:20px;
}

.profile{
  width:100px;
  height:100px;
}

